// Оверлей приложения (светлая тема)
$background-color-overlay: #e3e3e3;
// Оверлей приложения (темная тема)
$background-color-dark-overlay: #2F2F33;
// Ограничивающий контейнер (светлая тема)
$background-color-container: #f7f7f7;
// Ограничивающий контейнер (темная тема)
$background-color-dark-container: #252525;
// Акцентный цвет
$accent-color: #3273F6;
// Текст (светлая тема)
$text-dark-color: #e8e8e8;
// Текст (темная тема)
$text-light-color: #212121;
// Текст кнопки
$text-button-color: #f7f6f6;
// Текст навигации 
$text-menu-color: #969696;
