@import './_colors.scss';
@import './_normalize.scss';
@import './_fonts.scss';
@import './_templates.scss';
@import './_mixins.scss';

.container {
   max-width: 1100px;
   padding: 0 20px;
   margin: 0 auto;
   background-color: $background-color-container;
   position: relative;
   transition: 0.3s;
}
.dark-container {
   background-color: $background-color-dark-container;
   color: $text-dark-color;
   transition: 0.3s;
}
